<template>
    <div>
        <Feedback></Feedback>
    </div>
</template>

<script>
import Feedback from "../components/Feedback.vue";
export default {
    components: {
        Feedback
    }
};
</script>

<style>
</style>
