<template>
    <div class="my-card">
        <div class="top-yellow"></div>
        <div class="my-card-content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style scoped>
.my-card {
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.my-card-content {
}
.top-yellow {
    height: 4px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        #FBC552 0%,
        #F8AC3D 50%,
        #F69429 100%
    );
    border-radius: 3px 3px 0px 0px;
}
</style>
