<template>
    <div>
        <p class="ol-subtitle">Organize your speech</p>
        <h1 class="ol-title">Speech Outline</h1>
        <MyCard>
            <div class="speech-setting">
                <h1 class="speech-title">Speech Title</h1>
                <div class="columns" style="width:600px;margin:auto">
                    <div class="column setting-item">
                        <b-dropdown>
                            <h2 slot="trigger" style="cursor:pointer">Purpose
                                <span style="font-size:20px">▾</span>
                            </h2>
                            <b-dropdown-item @click="selectedPurpose=item" v-for="item in purposeList" :key="item">{{item}}</b-dropdown-item>
                        </b-dropdown>
                        <p>{{selectedPurpose}}</p>
                    </div>
                    <div class="column setting-item">
                        <b-dropdown>
                            <h2 slot="trigger" style="cursor:pointer">Quality
                                <span style="font-size:20px">▾</span>
                            </h2>
                            <b-dropdown-item @click="selectedQuality=item" v-for="item in qualityList" :key="item">{{item}}</b-dropdown-item>
                        </b-dropdown>
                        <p>{{selectedQuality}}</p>
                    </div>
                    <div class="column setting-item">
                        <b-dropdown>
                            <h2 slot="trigger" style="cursor:pointer">Audience
                                <span style="font-size:20px">▾</span>
                            </h2>
                            <b-dropdown-item @click="selectedAudience=item" v-for="item in audienceList" :key="item">{{item}}</b-dropdown-item>
                        </b-dropdown>
                        <p>{{selectedAudience}}</p>
                    </div>
                </div>
            </div>
        </MyCard>
        <h1 class="subtitle">Structure</h1>
        <draggable v-model="cardList" @start="drag=true" @end="finishDrag">
            <transition-group name="list-complete">
                <OutlineCard class="list-complete-item" v-for="(item,index) in cardList" v-on:add-section="addSection(index)" :cardTitle="item.cardTitle" :cardContent="item.cardContent" :key="item.cardTitle" :isSelected="index==selectedCard">
                    <span @mousedown="changeSelect(index)">{{item.cardTitle}}</span>
                </OutlineCard>
            </transition-group>
        </draggable>
        <YellowButton title="Finish" style="float:right;margin-bottom:200px"></YellowButton>
    </div>
</template>

<script>
import OutlineCard from "../components/OutlineCard.vue";
import draggable from "vuedraggable";
export default {
    components: {
        draggable,
        OutlineCard
    },
    data() {
        return {
            cardList: [
                {
                    cardTitle: "Introduction",
                    cardContent: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <span class="red">nostrud</span> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse <span class="blue">cillum</span> dolore eu fugiat nulla pariatur. `
                },
                {
                    cardTitle: "Research",
                    cardContent:
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit "
                },
                {
                    cardTitle: "Problem",
                    cardContent:
                        "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. "
                },
                {
                    cardTitle: "Solution",
                    cardContent:
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. "
                }
            ],
            selectedCard: 0,
            purposeList: ["Product", "Research", "Interview", "Other"],
            selectedPurpose: "Product",
            qualityList: ["Pitch & Volume", "Emotion", "Clarity", "Pacing"],
            selectedQuality: "Emotion",
            audienceList: ["Very", "Somewhat", "Unfamiliar", "Not Sure"],
            selectedAudience: "Very"
        };
    },
    methods: {
        changeSelect(i) {
            this.selectedCard = i;
        },
        finishDrag(evt) {
            this.selectedCard = evt.newIndex;
        },
        addSection(index) {
            this.cardList.splice(index + 1, 0, {
                cardTitle: "Untitled-" + this.cardList.length,
                cardContent: "No content"
            });
        }
    }
};
</script>

<style scoped>
.list-complete-item {
    transition: all 0.5s;
}
.list-complete-enter {
    opacity: 0;
    transform: translateX(-150px);
}
.list-complete-leave-active {
    position: absolute;
}
.ol-subtitle {
    text-align: center;
    color: #666;
}
.ol-title {
    text-align: center;
    color: #f69b37;
    font-size: 36px;
    margin-bottom: 30px;
}
.speech-setting {
    padding: 40px 20px;
}
.setting-item {
    text-align: center;
}
.setting-item h2 {
    color: #f69b37;
    font-size: 28px;
    margin-bottom: 10px;
}
.setting-item p {
    color: #888;
}
.speech-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}
</style>
