<template>
    <div>
        <div class="top"></div>
        <div class="detail-container">
            <p style="font-size:16px;color:#666;text-align:center">From other 12 people</p>
            <h1 style="font-size:32px;color:#f69429;text-align:center">View Your Feedback</h1>
            <h2 class="detail-title">Speech Title</h2>
            <p class="detail-date">2018.06.16</p>
            <div class="detail-video" style="position:relative">
                <img src="../assets/speech-video.jpg" alt="">
                <div class="v-progress"></div>
                <div v-if="isDetailed" v-for="(face,index) in faceList" class="v-face" :style="{left:`${face.position}%`}">
                    <div class="v-point"></div>
                    <div class="v-bar" :style="{height:`${barHeight}px`}">
                        <span>{{face.time}}</span>
                    </div>
                    <img :src="require(`@/assets/face/face-${face.faceId}.png`)">
                </div>
            </div>
            <div class="comment" :class="{margintop:isDetailed}">
                <span class="c-email">example@outlook.com</span>
                <span class="c-toggle" @click="toggleDetail">Detailed Comments</span>
                <p class="c-line">
                    <b>Introduction: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                <p class="c-line">
                    <b>Ideation: </b> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="c-bottom"></div>
        </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            isDetailed: false,
            barHeight: 0,
            faceList: [
                {
                    faceId: 0,
                    position: 10,
                    time: "00:26"
                },
                {
                    faceId: 4,
                    position: 20,
                    time: "01:47"
                },
                {
                    faceId: 6,
                    position: 60,
                    time: "03:47"
                }
            ]
        };
    },
    methods: {
        toggleDetail() {
            this.isDetailed = !this.isDetailed;
            if (this.isDetailed) {
                setTimeout(() => {
                    var growth = setInterval(() => {
                        if (this.barHeight >= 40) clearInterval(growth);
                        this.barHeight += 1;
                    }, 2);
                }, 500);
            } else {
                this.barHeight = 0;
            }
        }
    }
};
</script>

<style scoped>
.top {
    margin-bottom: 20px;
    height: 6px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        #fbc552 0%,
        #f8ac3d 50%,
        #f69429 100%
    );
}
.detail-container {
    max-width: 800px;
    margin: 0 auto;
}
.detail-title {
    font-size: 28px;
}
.detail-video {
    margin: 20px 0;
}
.v-progress {
    position: absolute;
    bottom: 4px;
    height: 4px;
    width: 100%;
    background: #f69429;
}
.v-bar {
    margin-right: auto;
    margin-left: auto;
    margin-top: 36px;
    width: 4px;
    background: #f69429;
}
.v-face {
    width: 40px;
    height: 40px;
    padding: 5px;
    position: absolute;
    bottom: -16px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 8px #f69b37;
}
.v-face span {
    font-size: 12px;
    margin-left: 10px;
}
.comment {
    transition: 0.5s ease-in-out;
}
.margintop {
    margin-top: 100px;
    transition: 0.5s ease-in-out;
}
.c-email {
    font-size: 18px;
    padding: 2px 20px;
    color: #fff;
    background: #f69429;
    border-radius: 24px;
}
.c-toggle {
    line-height: 26px;
    cursor: pointer;
    font-size: 12px;
    float: right;
    color: #f69429;
}
.c-line {
    text-align: justify;
    margin: 10px 20px;
}
.c-bottom {
    height: 4px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        #fbc552 0%,
        #f8ac3d 50%,
        #f69429 100%
    );
}
</style>
