<template>
    <button class="yello-btn" :style="style" @click="clk">{{this.title}}</button>
</template>

<script>
export default {
    props: {
        title: {
            default: "",
            type: String
        },
        height: {
            default: 50,
            type: Number
        },
        width: {
            default: 200,
            type: Number
        }
    },
    data() {
        return {
            style: {
                height: `${this.height}px`,
                width: `${this.width}px`
            }
        };
    },
    methods: {
        clk() {
            this.$emit("click");
        }
    }
};
</script>

<style scoped>
.yello-btn {
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    border: none;
    margin: 0 auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease-out;
    background-image: linear-gradient(
        to right,
        #f69429 0%,
        #f8ac3d 50%,
        #fbc552 100%
    );
}
.yello-btn:hover {
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease-out;
}
</style>

