<template>
    <div>
        <MyCard class="s-q-card">
            <div class="s-q-content">
                <div class="setting-back" @click="clickBack">
                    <font-awesome-icon :icon="['far','caret-square-left']" size="lg" />
                    <span> back</span>
                </div>
                <h2 class="s-q-subtitle">Create a new speech</h2>
                <h1 class="s-q-title">Improve Goal</h1>
                <p class="s-q-des">
                    <span>What quality are you concentrating?</span>
                </p>
                <div class="columns s-q-cards">
                    <div class="column">
                        <SettingCard :isActive="activeCard==0" @click="selectCard(0)">
                            <h1>Volume</h1>
                        </SettingCard>
                    </div>
                    <div class="column">
                        <SettingCard :isActive="activeCard==1" @click="selectCard(1)">
                            <h1>Emotion</h1>
                        </SettingCard>
                    </div>
                    <div class="column">
                        <SettingCard :isActive="activeCard==2" @click="selectCard(2)">
                            <h1>Clarity</h1>
                        </SettingCard>
                    </div>
                    <div class="column">
                        <SettingCard :isActive="activeCard==3" @click="selectCard(3)">
                            <h1>Pacing</h1>
                        </SettingCard>
                    </div>
                </div>
                <div style="text-align:center">
                    <YellowButton title="Next" style="margin-top:40px;" @click="clickNext" />

                </div>
                <div class="s-q-dots">
                    <font-awesome-icon :icon="['far','circle']" size="xs" />
                    <font-awesome-icon :icon="['far','circle']" size="xs" />
                    <font-awesome-icon :icon="['fas','circle']" size="xs" />
                    <font-awesome-icon :icon="['far','circle']" size="xs" />
                </div>
            </div>
        </MyCard>
    </div>
</template>

<script>
import SettingCard from "./SettingCard.vue";

export default {
    components: { SettingCard },
    data() {
        return {
            activeCard: -1
        };
    },
    methods: {
        selectCard(cardId) {
            this.activeCard = cardId;
        },
        clickNext() {
            this.$router.push("/setting/audience");
        },
        clickBack() {
            this.$router.push("/setting/time");
        }
    }
};
</script>

<style scoped>
.setting-back {
    cursor: pointer;
}
.s-q-content {
    padding: 30px;
}
.s-q-title {
    text-align: center;
    color: #f69429;
    font-size: 36px;
}
.s-q-subtitle {
    text-align: center;
    color: #888;
    font-size: 20px;
}
.s-q-des {
    text-align: center;
    margin: 40px 0;
}
.s-q-des span {
    font-size: 24px;
    font-weight: 300;
    color: #888;
}
.s-q-cards .column {
    text-align: center;
}
.s-q-dots {
    margin-top: 20px;
    text-align: center;
}
.s-q-dots svg {
    color: #f69429;
    margin: 0 5px;
}
</style>
