<template>
    <div>
        <MyCard class="s-t-card">
            <div class="s-t-content">
                <div class="setting-back" @click="clickBack">
                    <font-awesome-icon :icon="['far','caret-square-left']" size="lg" />
                    <span> back</span>
                </div>
                <h2 class="s-t-subtitle">Create a new speech</h2>
                <h1 class="s-t-title">Speech Time</h1>
                <p class="s-t-des">
                    <span>How long is your presentation?</span>
                </p>

                <div style="text-align:center" class="s-t-time">
                    <font-awesome-icon :icon="['fas', 'minus-circle']" size="lg" @click="decTime" :class="{active:canDec}" />
                    <span>{{timeNumber}}</span>
                    <font-awesome-icon :icon="['fas', 'plus-circle']" size="lg" @click="addTime" :class="{active:canAdd}" />
                </div>

                <div style="text-align:center ">
                    <YellowButton title="Next" style="margin-top:40px;" @click="clickNext" />

                </div>
                <div class="s-t-dots ">
                    <font-awesome-icon :icon="[ 'far', 'circle']" size="xs" />
                    <font-awesome-icon :icon="[ 'fas', 'circle']" size="xs" />
                    <font-awesome-icon :icon="[ 'far', 'circle']" size="xs" />
                    <font-awesome-icon :icon="[ 'far', 'circle']" size="xs" />
                </div>
            </div>
        </MyCard>
    </div>
</template>

<script>
import SettingCard from "./SettingCard.vue";

export default {
    components: { SettingCard },
    data() {
        return {
            activeCard: -1,
            timeNumber: 5,
            canAdd: false,
            canDec: true
        };
    },
    methods: {
        selectCard(cardId) {
            this.activeCard = cardId;
        },
        clickNext() {
            this.$router.push("/setting/quality");
        },
        clickBack() {
            this.$router.push("/setting/purpose");
        },
        addTime() {
            if (this.timeNumber < 5) {
                this.timeNumber++;
                this.canDec = true;
            }
            if (this.timeNumber == 5) this.canAdd = false;
        },
        decTime() {
            if (this.timeNumber > 1) {
                this.timeNumber--;
                this.canAdd = true;
            }
            if (this.timeNumber == 1) this.canDec = false;
        }
    }
};
</script>

<style scoped>
.setting-back {
    cursor: pointer;
}
.s-t-content {
    padding: 30px;
}
.s-t-title {
    text-align: center;
    color: #f69429;
    font-size: 36px;
}
.s-t-subtitle {
    text-align: center;
    color: #888;
    font-size: 20px;
}
.s-t-des {
    text-align: center;
    margin: 40px 0;
}
.s-t-des span {
    font-size: 24px;
    font-weight: 300;
    color: #888;
}
.s-t-cards .column {
    text-align: center;
}
.s-t-time span {
    color: #f69429;
    font-size: 28px;
    border-bottom: 2px solid #888;
}
.s-t-time svg {
    cursor: pointer;
    color: #888;
    margin: 0 10px;
}
.s-t-time svg.active {
    color: #f69429;
}
.s-t-dots {
    margin-top: 20px;
    text-align: center;
}
.s-t-dots svg {
    color: #f69429;
    margin: 0 5px;
}
</style>
